html,
body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Pretendard";
}

p {
  margin-left: 0 !important;
  width: auto !important;
  font-family: "Pretendard" !important;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  src: url("../fonts/Pretendard-Black.woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  src: url("../fonts/Pretendard-ExtraBold.woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url("../fonts/Pretendard-Bold.woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url("../fonts/Pretendard-SemiBold.woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url("../fonts/Pretendard-Medium.woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("../fonts/Pretendard-Regular.woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: url("../fonts/Pretendard-Thin.woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  src: url("../fonts/Pretendard-Light.woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  src: url("../fonts/Pretendard-ExtraLight.woff2");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 100;
  src: url("../fonts/Gilroy-Thin.woff2");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 100;
  font-style: italic;
  src: url("../fonts/Gilroy-ThinItalic.woff2");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 200;
  src: url("../fonts/Gilroy-Light.woff2");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 200;
  font-style: italic;
  src: url("../fonts/Gilroy-LightItalic.woff2");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  src: url("../fonts/Gilroy-Regular.woff2");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Gilroy-RegularItalic.woff2");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  src: url("../fonts/Gilroy-Medium.woff2");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/Gilroy-MediumItalic.woff2");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: url("../fonts/Gilroy-Semibold.woff2");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/Gilroy-SemiboldItalic.woff2");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src: url("../fonts/Gilroy-Bold.woff2");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/Gilroy-BoldItalic.woff2");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  src: url("../fonts/Gilroy-Extrabold.woff2");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: italic;
  src: url("../fonts/Gilroy-ExtraboldItalic.woff2");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 900;
  src: url("../fonts/Gilroy-Black.woff2");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 900;
  font-style: italic;
  src: url("../fonts/Gilroy-BlackItalic.woff2");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 1000;
  src: url("../fonts/Gilroy-Heavy.woff2");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 1000;
  font-style: italic;
  src: url("../fonts/Gilroy-HeavyItalic.woff2");
}

@font-face {
  font-family: "NanumMyeongjo";
  font-weight: 400;
  src: url("../fonts/NanumMyeongjo.ttf");
}
@font-face {
  font-family: "NanumMyeongjo";
  font-weight: 700;
  src: url("../fonts/NanumMyeongjoBold.ttf");
}
@font-face {
  font-family: "NanumMyeongjo";
  font-weight: 900;
  src: url("../fonts/NanumMyeongjoExtraBold.ttf");
}

.example-container div {
  background: pink;
  border-radius: 30px;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50% - 150px / 2);
  left: calc(50% - 150px / 2);
}

.example-container .drag-area {
  opacity: 0.2;
  background: pink;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 30px;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
}
